@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/*      font-family: 'Open Sans', sans-serif;       */

.app{
    height: 100vh;
    display: flex;
    background: url("../images/background-homePage.avif") no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}
